@model TiendaVirtual.Entidades.IFactura
@{
    ViewBag.Title = "Borrar";
    Layout = "~/Areas/Backend/Views/Shared/_Layout - Backend.cshtml";
}
<h2><span class="glyphicon glyphicon-trash"></span>&nbsp;Borrar</h2>

<h3>¿Confirmar borrado de la Factura  @Html.DisplayFor(model => model.Numero) ?</h3>
<div>
   
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Borrar" class="btn btn-danger" /> |
            @Html.ActionLink("Volver a la lista", "Index")
        </div>
    }
</div>
@section  BackToIndex
{
    @Html.ActionLink("CopyPasteShop BACKEND", "Index", "Facturas", null, new { @class = "navbar-brand" })
}


